<%= form_for @citation, remote: true do |f| %>
	<div class="modal fade" id="citation-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-sign"></i></button>
          <h3 class="modal-title"><i class="fa fa-flag"></i> Flag Citation</h3>
        </div>
        <div class="modal-body">
        	<p class="lead" style="margin-bottom: 0px">Flag this citation as bogus or incorrect.</p>
		    </div>
        <div class="modal-footer" style="margin-top: 0px">
          <a data-dismiss="modal" class="btn btn-default">Close</a>
          <%= f.submit 'Save', class: 'btn btn-danger' %>
          <%= f.hidden_field :flags %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>