<div id="commentable">
  <h4>Comments</h4>
  <% if user_signed_in? %>
    <%= render 'comments/new', commentable: commentable %>
  <% else %>
    <%= link_to "Sign in to Comment", new_user_session_path(return_path: request.url + "#comments"), class: "btn btn-primary" %>
    <br>
  <% end %>
  <br>
  <div id="comments">
    <%= render @comments if @comments.any? %>
  </div>
</div>
