<h1 ><%= title %></h1>
<div class="row">
	<div class="col-md-12">
		<%= infinite_index(@recipes, container_class: '') %>
	</div>
</div>
<%= link_to material_icon('plus'), new_recipe_path, class: "btn btn-success btn-fab", data: { toggle: 'tooltip', title: 'New Recipe', placement: 'left' } if user_signed_in? %>
