<div class="index-header">
	<h2>
		<%= @recipe.name %>
		<small class="pull-right">Rating</small>
		<%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary pull-right" %>
	</h2>
</div>

<div class="row">
	<div class="col-lg-3">
		<%= image_tag @recipe.image.image.url(:large), class: "img-thumbnail", style: "width: 100%" if @recipe.image? %>
		<br>
		A description of the smoothie goes here.
	</div>
	<div class="col-lg-9">
		A list of ingredients goes here.
	</div>
</div>
