<div class="media nutrient">
	<a class="pull-left symbol" href="<%= nutrient_path(nutrient) %>">
    <%= nutrient.symbol %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to nutrient.name, nutrient %></h4>
  </div>
</div>