<a href="<%= nutrient_path(nutrient) %>" class="list-group-item">
  <h4 class="list-group-item-heading"><%= nutrient.name %></h4>
  <p class="list-group-item-text"><%= simple_format(strip_tags(nutrient.description).truncate(250)) %></p>
</a>
