<div class="user-recipe row">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-9">
				<h3><%= link_to recipe.name, recipe.named_url %></h3> <%= render 'ratings/rating', recipe: recipe %>
				<p>
					<%= recipe.description %>
					<br>
					<span class="ingredients"><strong>Ingredients: </strong><%= render 'recipes/ingredients', recipe: recipe %></span>
				</p>
			</div>
		</div>
	</div>
</div>
