<h4>Vitamins</h4>
<table class='nutrition'>
  <% @ingredient.vitamins.each do |n| %>
    <tr>
      <td><%= link_to n.name, n.nutrient %></td>
      <td><%= number_with_precision(n.amount, precision: 1, delimiter: ",") %> <%= n.unit %></td>
      <td><%= number_to_percentage(n.daily_percent, precision: 1) %></td>
    </tr>
  <% end %>
</table>
