<div class="row">
	<div class="col-md-8">
		<%= infinite_index(@ingredients) %>
	</div>
	<div class="col-md-4">
		<%= render 'layouts/sidebar' %>
	</div>
</div>
<%= link_to material_icon('plus'), new_ingredient_path, class: "btn btn-success btn-fab", data: { toggle: 'tooltip', title: 'New Ingredient', placement: 'left' } if user_signed_in? %>
