<div class="leaves">
	<% unless recipe.rating.blank?%>
		<% rating = recipe.rating.round %>
		<% grey = 5 - rating %>
		<% rating.times do %>
			<%= fa_icon "leaf", class: "green" %>
		<% end %>
		<% grey.times do %>
			<%= fa_icon "leaf", class: "grey" %>
		<% end %>
	<% end %>
</div>
<%= content_tag :div, "Sign in to rate", class: "taste" unless user_signed_in? || @recipes || @user %>
