<div class="leaves">
	<% unless recipe.rating.blank?%>
		<% rating = recipe.rating.round %>
		<% grey = 5 - rating %>
		<% rating.times do %>
			<%= fa_icon "leaf", class: "green" %>
		<% end %>
		<% grey.times do %>
			<%= fa_icon "leaf", class: "grey" %>
		<% end %>
	<% end %>
</div>
<%= link_to "Sign Up To Rate", new_user_registration_path, class: "btn btn-block btn-lg btn-primary" unless user_signed_in? || @recipes || @user %>
