<div class="row">
	<div class="col-md-8">
		<div class="well">
			<p class="lead">New to the idea of green smoothies? Well keep an open mind, because you'll totally miss out if you never give it a try!</p>
			<h4 class="ribbon" style="width: 50%">Green Smoothies</h4>
			<p>What is a green smoothie, you ask? In short, a green smoothie is a smoothie composed primarily of fresh, leafy greens (kale, spinach, etc.), fruits, and herbs. You can also add superfoods and other ingredients to give it a little boost.</p>
			<p>It's pretty simple. So what's the big deal? Well, green smoothies have lots of health benefits because of the fresh fruits and veggies that many people otherwise lack in their diets. Plus, you can get creative in your recipes.</p>
			<p>Everyone has their own take on it, so there's no "right way" to do it. But that's the whole point of this website. Experiment, share, and learn from others to find out what works for you. Because at the end of the day, a green smoothie is what you want it to be.</p>
			<h4 class="ribbon" style="width: 50%">What You Should Know</h4>
			<p>You can find all sorts of info about green smoothies out there, but there's three things you should probably know.</p>
			<p>First of all, <strong>green smoothies taste great!</strong> This is an opinion of course, but just because they're green doesn't mean they taste like grass or brussels sprouts. Green smoothies can taste as sweet or as bitter as you want. It just depends on the igredients you use.</p>
			<p>Second, <strong>green smoothies are not a gauranteed weight loss solution</strong> or miracle cure for sickness. While they possess many beneficial nutrients that promote health, they should simply be viewed as part of your balanced diet. Green smoothies are just one componenet of your overall lifestyle that determines your general health and longevity.</p>
			<p>Lastly, <strong>green smoothies are not expensive</strong>. For example, the cost of a fast food meal for one person can likely buy enough fresh prodcue to last a couple days. And you don't need a commercial grade blender to make good smoothies. A nice blender is a very worthwhile investment, but you can do fine with the average blender.</p>
			<h4 class="ribbon" style="width: 50%">Get Started</h4>
			<p>Now that you've been introduced, you're ready to get started. Take a look at some of the <%= link_to "tools you'll need", tools_path %>, then jump right into <%= link_to "making green smoothies", basics_path %>. You'll be on your way to becoming a green smoothie master in no time.</p>
		</div>
	</div>
	<div class="col-md-4">
		<%= render 'layouts/sidebar' %>
	</div>
</div>
