<div class="row">
	<div class="col-md-8">
		<div class="well">
			<p class="lead">Creating awesome green smoothies is easy. Just start with the basic formula, then experiment to create all kinds of variations.</p>
			<h4 class="ribbon">Leafy Greens</h4>
			<p>
				Most smoothies will contain three main components:
				<ul class="square">
					<li>Start with your <strong>leafy greens</strong>. Kale, spinach, and collard greens are pretty popular.</li>
					<li>Throw in a <strong>liquid base</strong> like water, coconut milk, or orange juice.</li>
					<li>Then add some <strong>fruit</strong>. You might try pineapple, green apples, or bananas.</li>
				</ul>
				You can experiment with the ratios of each component, but you can generally get a good result by including equal parts of each. For example, two cups kale, two cups coconut milk, and two cups pineapple should give you a decent smoothie.
			</p>
			<h4 class="ribbon">Boosters</h4>
			<p>Boosters can give your smoothie a little extra nutritional kick. Popular additions include things like <strong>chia seeds, flax seeds, and hemp protein</strong>.</p>
			<p>You can be as generous or as sparse as you want with these addatives. Just be careful not to let the boosters overpower the taste.</p>
			<h4 class="ribbon">Herbs</h4>
			<p>One of my favorite ingredients for smoothies is herbs. I throw in things like <strong>mint, cilantro, and parsely</strong> for a pleasantly fresh touch.</p>
			<p>Herbs have great nutritional and medicinal value as well, so I highly recommend them.</p>
			<h4 class="ribbon">Helpful Tips</h4>
			<strong>Blending</strong>
			<p>If you have a less powerful blender, you might consider blending the greens and the liquid first until it's smooth. Then blend in the rest of your ingredients.</p>
			<strong>Freeze Your Ingredients</strong>
			<p>Sometimes you can't use all your fresh produce right away, so freezing it is a convenient way to preserve it for a few extra days. Bought a big bag of spinach? Freeze it in little baggies and throw it in your smoothies when you need it.</p>
		</div>
	</div>
	<div class="col-md-4">
		<%= render 'layouts/sidebar' %>
	</div>
</div>

