<div class="jumbotron" style="padding: 10px 0px" id="home">
	<br>
	<h1>The Green Smoothie Community</h1>
	<br>
</div>

<div id="overlay">
	<div class="container">
		<div class="row">
			<div class="col-md-4 hidden-lg hidden-md" data-no-turbolink>
				<br>
				<%= link_to "Find Recipes", recipes_path, class: "btn btn-primary btn-hg btn-block", style: "margin-top: 10px" %>
			</div>
			<div class="col-md-8">
				<div id="mission">
					<p class="lead">A community for green smoothie enthusiasts where you can learn, contribute, and find the freshest ideas and information.</p>
					<div class="statement">
						Learn and experiment to create your own green smoothie recipes
					</div>
					<br>
					<div class="statement">
						Share your creations, and see what others are drinking too
					</div>
					<br>
					<div class="statement">
						Live a healthy lifestyle by including fruits and veggies in your diet
					</div>
				</div>
				<p class='text-center visible-xs'><%= link_to "Terms", terms_path %> | <%= link_to "Privacy", privacy_path %></p>
			</div>
			<div class="col-md-4 visible-lg visible-md" data-no-turbolink>
				<br>
				<br>
				<br>
				<br>
				<br>
				<%= link_to "Find Recipes", recipes_path, class: "btn btn-primary btn-hg btn-block", style: "margin-top: 10px" %>
			</div>
		</div>
	</div>
</div>
