<div class="jumbotron">
	<div class="row">
		<div class="col-lg-6 text-center">
			<h1><%= fa_icon "leaf" %> Green Smoothie</h1>
		</div>
		<div class="col-lg-6 text-center">
			<h1><small>CREATE | SHARE | LIVE</small></h1>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-6">
			<blockquote>
				<p class="lead">Learn and experiment to create your own green smoothie recipes.</p>
			</blockquote>
			<blockquote>
				<p class="lead">Share your creations with the world, and see what others are drinking too.</p>
			</blockquote>
			<blockquote>
				<p class="lead">Live a healthy lifestyle by including fruits and veggies in your diet.</p>
			</blockquote>
			<br>
			<div class="row">
				<div class="col-lg-6">
					<%= link_to "Get Started", "#", class: "btn btn-primary btn-hg btn-block" %>
				</div>
				<div class="col-lg-6">
					<%= link_to "Learn", "#", class: "btn btn-primary btn-hg btn-block" %>
				</div>
			</div>
		</div>
		<div class="col-lg-6 text-center visible-lg">
			<%= image_tag "glass.jpg", class: "img-rounded" %>
		</div>
	</div>
</div>
