<div class="row">
	<div class="col-md-8">
		<div class="well">
			<h2>A Little About Green Smoothies</h2>
			<p>If you're new to the concept of green smoothies, there's a few things you should know.</p>
			<p>First of all, green smoothies taste great! Just because they're green doesn't mean they taste like grass or brussels sprouts. Green smoothies can taste as sweet or as sour as you want. It just depends on the igredients you use.</p>
			<p>Second, green smoothies are not a gauranteed weight loss solution or miracle cure for sickness. While they possess many beneficial nutrients that promote health, they should simply be viewed as part of your balanced diet. Green smoothies are just one componenet of your overall lifestyle that determines your general health and longevity.</p>
			<p>Lastly, green smoothies aren't expensive. For example, the cost of a fast food meal for one person can likely buy enough fresh prodcue to last a couple days. And you don't need a commercial grade blender to make good smoothies. A nice blender is a very worthwhile investment, but you can do fine with the average blender or juicer.</p>
			<h2>Communtiy</h2>
			<p>What is Green Smoothie all about, you ask? Well, first and foremost, it's a community. A community for people who love green smoothies or want to learn about them. Pretty simple, really.</p>
			<p>I love green smoothies, and I have some good stuff to share. But I'm sure you do too! So rather than creating a website to tell you everything I know, I created one where we can all share and learn form each other.</p>
			<p>So I invite you to contribute to the community! Share your recipes. Rate and comment on other people's recipes (be nice of course). Then my job will be to answer questions, share the top recipes, and bring the community together.</p>
			<h2>Knowledge Base</h2>
			<p>I hope Green Smoothie will also be a repository for knowledge. Not only for recipes, but for information about ingredients and nutrition.</p>
			<p>Again, since I'm just one guy, I figured that it would be better to let everyone contribute to the database of knowledge. So feel free to tell us what you know about different foods. Share information about nutrients and how they help us. The more research, the better.</p>
			<p>The ultimate goal is to provide people with sound information so they can make healthy eating choices. I hate all the fad diets and programs out there, so Green Smoothie is definitely not some kind of program. It's all about living a consistent, healthy lifestyle.</p>
		</div>
	</div>
	<div class="col-md-4">
		<a class="btn btn-brand btn-block btn-learn" href="<%= basics_path %>">
			<h3>Green Smoothie Basics</h3>
			<p>Learn the basic components that make up a well-balanced green smoothie. It's pretty straightforward, so take a shot at it.</p>
		</a>
		<br>
		<a class="btn btn-brand btn-block btn-learn" href="<%= tools_path %>">
			<h3>Green Smoothie Tools</h3>
			<p>There's a few appliances and kitchen gadgets that help out a ton. And they don't have to be expensive.</p>
		</a>
	</div>
</div>
