<div class="row">
	<div class="col-md-8">
		<div class="well">
			<p class="lead">Every smoothie maker needs a few tools to get started. Some can be expensive, but you can actually get by just fine without spending a ton of money.</p>
			<h4 class="ribbon">Blender</h4>
			<p>Your blender is the most important tool, by far. It's also going to be the most expensive. But of all the expensive appliances out there, I would say that a high quality blender is one of the most worthwhile. In addition to green smoothies, you can make soups, desserts, grind your own wheat, and tons more with a good blender. Totally worth it.</p>
			<strong>So what's the best blender?</strong>
			<p>The two most popular high-end blenders out there are the Vitamix and the Blendtec. They're pretty comparable for the most part. Both get great reviews, so it generally comes down to personal preference. I use a Vitamix, and I absolutely love it.</p>
		</div>
	</div>
	<div class="col-md-4">
		<%= render 'layouts/sidebar' %>
	</div>
</div>