<h1 ><%= title %></h1>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" id='unpublished-posts'>
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Title</th>
      <th class="mdl-data-table__cell--non-numeric hidden-xs hidden-sm">Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>
