<a class="post" href="<%= post.named_route %>">
	<%= content_tag :div, style: "background-image: url(#{large_image_path(post)})", class: 'post-image' do %>
		<h2 class='post-title'><%= post.name %></h2>
	<% end %>
	<div class='post-abstract'>
		<p><%= post.abstract %></p>
	</div>
</a>
