<div class="index-header">
	<h2>
		Green Smoothie Blog
		<%= link_to "New Post", new_post_path, class: "btn btn-primary pull-right" if can? :manage, Post %>
	</h2>
</div>

<div class="row">
	<div class="col-md-8">
		<%= search_form_for @search, remote: true do |f| %>
			<%= f.text_field :name_or_body_or_abstract_or_tags_name_cont, id: "post-search", class: "index-search form-control input-lg", placeholder: "Search"%>
		<% end %>
	</div>
</div>
<br>
<div class="row">
	<div class="col-lg-8" id="posts">
		<%= render @posts %>
	</div>
	<div class="col-lg-4">

	</div>
</div>
