/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *kk
 *= require font-awesome
 *= require fontello
 *= require material-icons
 *= require pnotify.base
 *= require pnotify.icons
 *= require sidr
 *= require summernote
 *= require jquery.fileupload-ui
 *= require jquery.Jcrop
 *= require_self
 *= require pages

 *= depend_on "drawer.less"
 *= depend_on "recipes.less"
 *= depend_on "sidebar.less"
 */

@import 'bs.less';

@import 'benefits.less';
@import 'comments.less';
@import 'drawer.less';
@import 'images.less';
@import 'ingredients.less';
@import 'nutrients.less';
@import 'pnotify.less';
@import 'posts.less';
@import 'recipes.less';
@import 'sidebar.less';
@import 'social.less';
@import 'tags.less';
@import 'users.less';

.form-footer {
  text-align: right;
}

a.follow, a.follow:hover {
  font-size: 100%;
  margin-top: 5px;
  border-radius: 50%;
  color: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: 3px;
  float: right;
  padding: 0px;
  text-align: center;
  i {
    margin-top: 7px;
  }
}

#delete-modal {
  h3 {
    color: #000000;
    .fa-exclamation-circle {
      color: @btn-danger-bg;
    }
  }
}

#spin {
	width: 100%;
}

ul.square {
	list-style: square;
}

.index-search {
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid @input-border;
}

textarea, textarea.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid @input-border;
}

select:hover, select:focus, select:active, select.form-control:hover, select.form-control:focus, select.form-control:active {
  background-color: #d8d8d8;
  color: #666666;
  outline: none;
}


select, select.form-control {
  -webkit-appearance: none;
  position: relative;
  height: 34px;
  border: none;
  font-size: 14px;
  letter-spacing: .01em;
  color: #666666;
  background-color: #e0e0e0;
  border-collapse: separate;
  background-image: url("/assets/select-caret.png");
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 6px 12px;
  line-height: 1.428571429;
  vertical-align: middle;
}

.wysihtml5-command-active, .btn.wysihtml5-command-active:hover {
  background-color: #666666;
}

.wysihtml5-command-active i {
  color: #ffffff;
}

.btn-toolbar > .btn-group + .btn-group {
  margin-left: 0px;
}

div.media {
  margin-bottom: 25px;
  a:first-child img {
    width: 100%;
    height: auto;
    min-height: 75px;
  }
  a:first-child {
    width: 75px;
    height: 75px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 50%;
  }
}

#img-btn {
  position: static;
  left: 0px;
}

#mobile-menu {
  color: #ffffff;
  font-size: 25px;
  padding: 19px 10px 19px 19px;
  float: left;
}
