// DEFAULT BOOTSTRAP VARIABLES //
@import "variables.less";
@import "mixins.less";


// CUSTOMIZED BOOTSTRAP VARIABLES //
@brand-primary: #5cb85c;

@btn-primary-bg: #83e531;
@btn-primary-border: rgba(0,0,0,0);
@btn-success-border: rgba(0,0,0,0);
@btn-info-border: rgba(0,0,0,0);
@btn-warning-border: rgba(0,0,0,0);
@btn-default-bg: #999999;
@btn-default-color: #ffffff;
@btn-default-border: rgba(0,0,0,0);
@btn-danger-border: rgba(0,0,0,0);

@navbar-height: 75px;
@navbar-default-bg: @brand-primary;
@navbar-default-border: rgba(0,0,0,0);
@navbar-inverse-border: rgba(0,0,0,0);
@navbar-inverse-bg: rgba(0,0,0,0.5);
@navbar-inverse-link-color: #ffffff;
@navbar-inverse-link-hover-color: darken(@navbar-inverse-link-color, 10%);
@navbar-inverse-link-hover-bg: rgba(131,229,49,0.75);
@navbar-default-link-color: #ffffff;
@navbar-default-link-hover-color: #ffffff;
@navbar-default-brand-hover-color: #ffffff;
@navbar-default-link-active-color: #ffffff;
@navbar-default-link-hover-bg: darken(@brand-primary, 10%);
@navbar-default-link-active-bg: @btn-primary-bg;

@font-family-base: 'Open Sans', sans-serif;
@font-size-base: 16px;
@line-height-base: 1.5;
@input-color-placeholder: #cccccc;
@dropdown-link-hover-bg: @btn-primary-bg;
@dropdown-link-hover-color: #ffffff;

@label-default-bg: #bbbbbb;

@alert-danger-border: rgba(0,0,0,0);
@alert-info-border: rgba(0,0,0,0);
@alert-success-border: rgba(0,0,0,0);
@alert-warning-border: rgba(0,0,0,0);

@border-radius-small: 0px;
@border-radius-base: 0px;
@border-radius-large: 0px;


// CUSTOM VARIABLES //
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700);
@facebook-color: #3b5998;
@purple: #b37ad5;

// DEFAULT BOOTSTRAP STYLES //
@import "bootstrap";

// CUSTOM CLASSES //

body.cke-contents {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  background-color: #ffffff
}

.serif {
  font-family: 'Josefin Slab', serif;
}

.fa-flag {
  color: @brand-danger;
}

.fa-flag:hover {
  color: darken(@brand-danger, 10%);
}

.btn.pull-right {
  margin-left: 10px;
}

.alert-sm {
  font-size: 13px;
}

.alert-green {
  background-color: #ffffff;
  color: @brand-primary;
  border-color: @brand-primary;
}

.label {
  padding: 1px 10px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 200;
}

.label-primary {
  background-color: @btn-primary-bg;
}

.label-tag {
  background-color: @btn-primary-bg;
}

.primary-background {
  background-color: @brand-primary;
}

.btn-brand {
  background-color: @brand-primary;
  color: #ffffff
}

.btn-brand:hover {
  background-color: darken(@brand-primary, 10%);
}

.btn-primary-bg:hover {
  color: darken(@btn-primary-bg, 10%);
}

.btn-facebook {
  background-color: @facebook-color;
  color: #ffffff;
}

.btn-facebook:hover {
  background-color: darken(@facebook-color, 10%)
}

.border-radius-base {
  border-radius: @border-radius-base;
}

.border-radius-large {
  border-radius: @border-radius-large;
}

.default-font {
  font-family: @font-family-base;
}

.btn-outline {
  color: @gray-light;
  border-color: @gray-light;
}

.btn-outline:hover {
  color: @gray-light;
  border-color: @gray-light;
  background-color: #eeeeee;
}

.brand-color {
  color: @brand-success;
}

// CUSTOMIZED BOOTSTRAP STYLES //

.alert {
  ul {
    padding-left: 20px;
    list-style: square;
  }
}

body {
  padding-bottom: 25px;
  background-color: #eeeeee;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  .serif;
  color: @brand-primary;
}

h1 {
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
    margin-bottom: 15px;
    margin-top: 5px;
  }
}

.btn {
  font-weight: 200;
}

.index-header {
  padding: 30px;
  color: #ffffff;
  margin-bottom: 15px;
  .primary-background;
  .border-radius-large;
  h1, h2, h3, h4, h5 {
    margin: 0px;
  }
}

div.show-header {
  .index-header;
  h2 {
    display: inline;
  }
  .btn {
    float: right;
  }
}

nav {
  font-size: 16px;
  font-weight: 200;
  a.navbar-brand {
    font-size: 20px;
  }
  .navbar-inverse a.navbar-brand {
    margin-left: -15px;
  }
  .navbar-inverse .navbar-toggle {
    margin-right: 0px;
  }
}

.navbar {
  border: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
  background-color: @navbar-default-link-hover-bg;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: rgba(131,229,40,0.75);
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color: rgba(0,0,0,0.5);
  a {
    color: #ffffff;
    font-weight: 200;
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: -1px;
  width: 100%;
  font-size: 14px;
  a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

input[type="text"], input[type="email"], input[type="password"] {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid @input-border;
}

textarea, textarea.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid @input-border;
}

select:hover, select:focus, select:active, select.form-control:hover, select.form-control:focus, select.form-control:active {
  background-color: #d8d8d8;
  color: #666666;
  outline: none;
}


select, select.form-control {
  -webkit-appearance: none;
  position: relative;
  height: 34px;
  border: none;
  font-size: 14px;
  letter-spacing: .01em;
  color: #666666;
  background-color: #e0e0e0;
  border-collapse: separate;
  background-image: url("/assets/select-caret.png");
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 6px 12px;
  line-height: 1.428571429;
  vertical-align: middle;
}

.well {
  border: none;
  box-shadow: 1px 1px 2px #cccccc;
  background-color: #ffffff;
  font-weight: 200;
  h1.ribbon, h2.ribbon, h3.ribbon, h4.ribbon, h5.ribbon {
    position: relative;
    width: 30%;
    padding: 6px 20px 6px 40px;
    margin: 10px 10px 10px -30px;
    color: #ffffff;
    background-color: @brand-primary;
    -webkit-box-shadow: 1px 1px 2px #cccccc;
    -moz-box-shadow: 1px 1px 2px #cccccc;
    box-shadow: 1px 1px 2px #cccccc;
  }
  h1.ribbon:after, h2.ribbon:after, h3.ribbon:after, h4.ribbon:after, h5.ribbon:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 5px 5px;
    border-style: solid;
    border-color: #666 #666 transparent transparent;
  }
  .btn.manage {
    display: inline;
    float: right;
  }
  p {
    font-size: 17px;
  }
  h2 {
    margin-bottom: 0px;
  }
  p.lead {
    font-size: 140%;
  }
}

@media screen and (max-width: 768px) {
  .well .btn.manage  {
    float: none;
  }
}

@media screen and (max-width: 768px) {
  .well h1.ribbon, .well h2.ribbon, .well h3.ribbon, .well h4.ribbon, .well h5.ribbon  {
    width: 80%;
  }
}

div.media {

  a img {
    width: 75px;
    height: 75px;
  }
}

.list-square {
  list-style: square;
  padding-left: 20px;
}

.shadow {
  box-shadow: 1px 1px 2px #cccccc;
}

.nav .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}