// DEFAULT BOOTSTRAP VARIABLES //
@import "variables.less";
@import "mixins.less";

// CUSTOM VARIABLES //


// CUSTOMIZED BOOTSTRAP VARIABLES //
@brand-primary: #5cb85c;

@navbar-margin-bottom: 0px;
@navbar-default-bg: rgba(0,0,0,0);
@navbar-default-border: rgba(0,0,0,0);
@navbar-inverse-border: rgba(0,0,0,0);
@navbar-inverse-bg: rgba(0,0,0,0);
@navbar-inverse-link-color: #ffffff;
@navbar-inverse-link-hover-color: darken(@navbar-inverse-link-color, 10%);
@navbar-default-link-color: @brand-primary;
@navbar-default-link-hover-color: darken(@brand-primary, 10%);

@btn-primary-bg: #83e531;
@btn-primary-border: rgba(0,0,0,0);
@btn-success-border: rgba(0,0,0,0);
@btn-info-border: rgba(0,0,0,0);
@btn-warning-bg: #e1e500;
@btn-warning-border: rgba(0,0,0,0);
@btn-default-bg: #999999;
@btn-default-color: #ffffff;
@btn-default-border: rgba(0,0,0,0);
@btn-danger-border: rgba(0,0,0,0);

@font-family-base: 'Open Sans', sans-serif;
@input-color-placeholder: #cccccc;
@dropdown-link-hover-bg: @btn-primary-bg;
@dropdown-link-hover-color: #ffffff;

@label-default-bg: #bbbbbb;

@alert-danger-border: rgba(0,0,0,0);
@alert-info-border: rgba(0,0,0,0);
@alert-success-border: rgba(0,0,0,0);
@alert-warning-border: rgba(0,0,0,0);

@border-radius-small: 0px;
@border-radius-base: 0px;
@border-radius-large: 0px;


// CUSTOM VARIABLES //
@facebook-color: #3b5998;

// DEFAULT BOOTSTRAP STYLES //
@import "bootstrap";

// CUSTOM CLASSES //

body.cke-contents {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}

.fa-flag {
  color: @brand-danger;
}

.fa-flag:hover {
  color: darken(@brand-danger, 10%);
}

.btn.pull-right {
  margin-left: 10px;
}

.alert-sm {
  font-size: 13px;
}

.alert-green {
  background-color: #ffffff;
  color: @brand-primary;
  border-color: @brand-primary;
}

.label {
  padding: 1px 10px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 200;
}

.label-primary {
  background-color: @btn-primary-bg;
}

.label-tag {
  background-color: @btn-primary-bg;
}

.primary-background {
  background-color: @brand-primary;
}

.btn-primary-bg {
  color: @btn-primary-bg;
}

.btn-primary-bg:hover {
  color: darken(@btn-primary-bg, 10%);
}

.btn-facebook {
  background-color: @facebook-color;
  color: #ffffff;
}

.btn-facebook:hover {
  background-color: darken(@facebook-color, 10%)
}

.border-radius-base {
  border-radius: @border-radius-base;
}

.border-radius-large {
  border-radius: @border-radius-large;
}

.default-font {
  font-family: @font-family-base;
}

.btn-outline {
  color: @gray-light;
  border-color: @gray-light;
}

.btn-outline:hover {
  color: @gray-light;
  border-color: @gray-light;
  background-color: #eeeeee;
}

.brand-color {
  color: @brand-success;
}

// CUSTOMIZED BOOTSTRAP STYLES //

.alert {
  ul {
    padding-left: 20px;
    list-style: square;
  }
}

body {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #eeeeee;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  .default-font;
  color: @brand-primary;
}

.btn {
  font-weight: 200;
}

.index-header {
  padding: 30px;
  color: #ffffff;
  margin-bottom: 15px;
  .primary-background;
  .border-radius-large;
  h1, h2, h3, h4, h5 {
    margin: 0px;
  }
}

div.show-header {
  .index-header;
  h2 {
    display: inline;
  }
  .btn {
    float: right;
  }
}

nav {
  border: none;
  .btn:first-of-type {
    margin-right: -15px;
  }
  .btn {
    margin-left: 5px;
  }
  input.form-control {
    width: 150px;
  }
  a.navbar-brand {
    margin-left: -15px;
  }
  .navbar-toggle {
    margin-right: 0px;
  }
}


div.jumbotron {
  background-color: @brand-primary;
  color: #ffffff;
  background-color: transparent;
  h1 {
    text-shadow: 2px 2px black;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron h1 {
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .btn-hg {
    margin-top: 10px;
  }
}

.btn-hg {
  font-size: 30px;
  padding: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid @input-border;
}

textarea, textarea.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid @input-border;
}

select:hover, select:focus, select:active, select.form-control:hover, select.form-control:focus, select.form-control:active {
  background-color: #d8d8d8;
  color: #666666;
  outline: none;
}


select, select.form-control {
  -webkit-appearance: none;
  position: relative;
  height: 34px;
  border: none;
  font-size: 14px;
  letter-spacing: .01em;
  color: #666666;
  background-color: #e0e0e0;
  border-collapse: separate;
  background-image: url("/assets/select-caret.png");
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 6px 12px;
  line-height: 1.428571429;
  vertical-align: middle;
}

.well {
  border: none;
  box-shadow: 1px 1px 2px #cccccc;
  background-color: #5cb85c;
  color: #ffffff;
  font-weight: 200;
}

div.media {

  a img {
    width: 75px;
    height: 75px;
  }
}

