#img-file {
  -moz-opacity:0;
  opacity: 0;
  border: 1px solid black;
  height: 35px;
  display: inline;
  margin: 0px;
  float: left;
  position: absolute;
  left: 0px;
  width: 100%;
  padding: 0px;
  cursor: pointer;
}

.jcrop-holder {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
}

.jcrop-keymgr {
  left: -2000px !important;
}

#img img {
  margin-bottom: 15px;
}
