// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.add-ingredient .col-xs-1 {
  font-size: 20px;
  font-weight: 200;
  padding-top: 3px;
}

div.media.ingredient {
  h4 small {
    background-color: #eeeeee;
    padding: 1px 5px;
    color: #000000;
    font-weight: bold;
    border-radius: 3px;
  }
  h4 span.label {
    float: right;
    font-size: 13px;
    color: #ffffff;
    margin-left: 5px;
    font-weight: 200;
    a {
      color: #ffffff;
    }
  }
}
