// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.add-ingredient .col-xs-1 {
  font-size: 20px;
  font-weight: 200;
  padding-top: 3px;
}

div.media.ingredient .badge {
  background-color: #5cb85c;
  font-weight: 200;
  font-size: 12px;
  padding: 5px 10px;
}
