div#email-prefs {
  p.lead {
    font-size: 18px;
  }
}

div.user-recipe {
  margin-bottom: 15px;
  img {
    width: 100%;
  }
  h3 {
    margin-top: 5px;
    margin-bottom: 0px;
    display: inline;
  }
  .leaves {
    display: inline;
    margin-left: 15px;
  }
  span.ingredients {
    font-size: 12px;
  }
}
