<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="index-delete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-sign"></i></button>
        <h3 class="modal-title"><i class=" fa fa-exclamation-circle"></i> <span id="delete-title">yield</span></h3>
      </div>
      <div class="modal-body" id="text">
				yield
	    </div>
      <div class="modal-footer" style='margin-top: 0px'>
        <a data-dismiss="modal" class="btn btn-default">Cancel</a>
        <a href="#" class="btn btn-danger" id="confirm-delete" data-remote="true" data-method="delete" data-loading-text="Deleting...">Delete</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
