<div class="visible-lg visible-md">
	<a class="sidebar btn btn-lg btn-block" id="basics" style="margin-bottom: 10px;">
		<div class="overlay">
			<div class="row">
				<div class="col-xs-1 col-xs-offset-1">
					<%= fa_icon "book" %> &nbsp;
				</div>
				<div class="col-xs-10">
					<strong>Green Smoothie Basics</strong>
					<p>Simple steps to great smoothies</p>
				</div>
			</div>
		</div>
	</a>
	<a class="sidebar btn btn-lg btn-block" id="tools" style="margin-bottom: 10px;">
		<div class="overlay">
			<div class="row">
				<div class="col-xs-1 col-xs-offset-1">
					<%= fa_icon "cutlery" %> &nbsp;
				</div>
				<div class="col-xs-10">
					<strong>Green Smoothie Tools</strong>
					<p>Helpful gadgets and appliances</p>
				</div>
			</div>
		</div>
	</a>
	<div class="sidebar" id="emails">
		<div class="overlay">
			<div class="row">
				<div class="col-xs-1 col-xs-offset-1">
					<%= fa_icon "envelope" %> &nbsp;
				</div>
				<div class="col-xs-10">
					<p class="title" style="margin-bottom: 0px">Email Updates</p>
					<p style="margin-bottom: 5px; font-weight: 200">Get tips and recipes in your inbox</p>
					<div class="input-group">
						<input type="text" class="form-control input-sm" placeholder="Email address">
			      <span class="input-group-btn">
			        <button class="btn btn-primary btn-sm" type="button">Submit</button>
			      </span>
			    </div>
		    </div>
			</div>
		</div>
	</div>
</div>