<div id="social">
	<%= pin_it_button media: HOST + resource.image.image.url(:medium), description: resource.name, url: request.url, count_layout: 'none' %>
	<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
	<div class="g-plusone" data-size="medium" data-annotation="none" data-href="<%= request.url %>"></div>
	<div class="fb-like" data-href="<%= request.url %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>