<div id="social">
	<%= link_to fa_icon("pinterest-square"), "#pi", class: "pinterest share", data: {url: request.url, desc: sociable.name, media: (sociable.image.image.url(:medium) if sociable.image?), summary: (sociable.abstract if sociable.class.name == "Post"), toggle: "tooltip", title: "Pin"} %>
	<%= link_to fa_icon("facebook-square"), "#fb", class: "facebook share", data: {url: request.url, media: (sociable.image.image.url(:medium) if sociable.image?), title: sociable.name, summary: (sociable.abstract if sociable.class.name == "Post"), toggle: "tooltip", title: "Post"} %>
	<%= link_to fa_icon("twitter-square"), "#tw", class: "twitter share", data: {url: request.url, desc: sociable.name, toggle: "tooltip", title: "Tweet"} %>
	<%= link_to fa_icon("google-plus-square"), "#go", class: "google share", data: {url: request.url, toggle: "tooltip", title: "Plus One"} %>
</div>